.grid{
    display: grid;
    grid-template-columns: 45% 45%;
   
}

ul{
    background-color: rgb(110, 101, 230);
    color: rgb(24, 52, 116);
    font-weight: bold;
    padding: 10px;
    border: 3px;
    border: dotted;
    text-transform: uppercase;
    text-decoration: underline;
     margin: 10px;
}
ol{
    background-color: rgb(83, 133, 218);
    color: rgb(21, 0, 255);
    font-weight: bold;
    padding: 10px;
     border: 3px;
    border: dotted;
    text-transform: uppercase;
    text-decoration: underline;
     margin: 10px;
}